{% extends "base.html" %} {% block title %} Cambiar Contraseña {% endblock %} {%
block content %}

<div class="edit-card">
  <h1>🔒 Cambiar Contraseña</h1>

  <form method="POST">
    <label>Contraseña actual</label>
    <div class="password-container">
      <input
        type="password"
        name="password_actual"
        id="password_actual"
        class="password-input"
        required
      />

      <span class="toggle-password"> 👁️ </span>
    </div>

    <label>Nueva contraseña</label>
    <div class="password-container">
      <input
        type="password"
        name="nueva_password"
        id="nueva_password"
        class="password-input"
        required
      />

      <span class="toggle-password"> 👁️ </span>
    </div>
    <label>Confirmar nueva contraseña</label>
    <div class="password-container">
      <input
        type="password"
        name="confirmar_password"
        id="confirmar_password"
        class="password-input"
        required
      />

      <span class="toggle-password"> 👁️ </span>
    </div>
    <button type="submit">Actualizar contraseña</button>
  </form>
</div>

{% endblock %}
