{% extends "base.html" %} {% block title %}Editar Usuario{% endblock %} {% block
content %}

<h1>Editar Usuario</h1>

<form method="POST">
  <label>Nombre</label><br />
  <input type="text" name="nombre" value="{{ usuario.nombre }}" />

  <br /><br />

  <label>Email</label><br />
  <input type="email" name="email" value="{{ usuario.email }}" />

  <br /><br />

  <label>Rol</label><br />

  {% if usuario.id == super_admin_id %}

  <div class="owner-role">👑 Propietario del sistema</div>

  <p class="owner-info">
    🔒 Este usuario es el propietario del sistema y su rol no puede modificarse.
  </p>

  <input type="hidden" name="rol" value="admin" />

  {% else %}

  <select name="rol">
    {% if usuario.rol == "usuario" %}
    <option value="usuario" selected>Usuario</option>
    {% else %}
    <option value="usuario">Usuario</option>
    {% endif %} {% if usuario.rol == "admin" %}
    <option value="admin" selected>Administrador</option>
    {% else %}
    <option value="admin">Administrador</option>
    {% endif %}
  </select>

  {% endif %}

  <br /><br />

  <button type="submit">Guardar cambios</button>
</form>

<br />

<a href="{{ url_for('admin') }}">Volver</a>

{% endblock %}
