{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}

<h1>Iniciar Sesión</h1>

<form method="POST">
  <label>Email:</label>
  <input type="email" name="email" required />

  <br /><br />

  <label>Contraseña:</label>

  <div class="password-container">
    <input
      type="password"
      id="password"
      name="password"
      class="password-input"
      required
    />

    <span class="toggle-password" id="togglePassword"> 👁️ </span>
  </div>

  <br /><br />

  <button type="submit">Ingresar</button>
</form>
<script>
  const passwordInput = document.getElementById("password");

  const togglePassword = document.getElementById("togglePassword");

  passwordInput.addEventListener("input", () => {
    if (passwordInput.value.length > 0) {
      togglePassword.style.display = "block";
    } else {
      togglePassword.style.display = "none";
    }
  });

  togglePassword.addEventListener("click", () => {
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      togglePassword.textContent = "🙈";
    } else {
      passwordInput.type = "password";
      togglePassword.textContent = "👁️";
    }
  });
</script>
{% endblock %}
