{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}

<h1>Iniciar Sesión</h1>

<form method="POST">
  <label>Email:</label>
  <input type="email" name="email" required />

  <br /><br />

  <label>Contraseña:</label>

  <div class="password-container">
    <input
      type="password"
      id="password"
      name="password"
      class="password-input"
      required
    />

    <span class="toggle-password">👁️</span>
  </div>

  <br /><br />

  <button type="submit">Ingresar</button>
</form>

{% endblock %}
