{% extends "base.html" %} {% block title %} Registro {% endblock %} {% block
content %}

<h1>Registro de Usuario</h1>

<form method="POST">
  <label>Nombre:</label>
  <input type="text" name="nombre" required />

  <br /><br />

  <label>Nombre de usuario:</label>
  <input type="text" name="username" required />

  <br /><br />

  <label>Email:</label>
  <input type="email" name="email" required />

  <br /><br />

  <label>Contraseña:</label>

  <div class="password-container">
    <input
      type="password"
      id="password"
      name="password"
      class="password-input strength-password"
      required
    />

    <span class="toggle-password"> 👁️ </span>
  </div>

  <div class="password-strength"></div>

  <br /><br />

  <button type="submit">Registrar</button>
</form>

{% endblock %}
